<div class="container" id="home-container">
<div class="jumbotron text-center text-white">
  <h1 class="display-4">Discourse App!</h1>
  <p class="lead">This is a app to post blogs.</p>
  <hr class="my-4">
  <p>Users can login,logout and register inorder to post their blogs.</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button">Sign Up!</a>
  </p>
</div>
</div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Geeta</small>
    </div>
</footer>